.app_dark_theme {
  --bg-color: rgb(59 59 73 / 83.9%);
  --inverted-bg-color: #fefefe;
  --primary-color: rgb(28 239 28 / 54.2%);
  --secondary-color: rgb(197 234 13);
  --inverted-primary-color: #226fd5;
  --inverted-secondary-color: #272727c6;
}
