.app_light_theme {
  --bg-color: #fefefe;
  --inverted-bg-color: rgb(59 59 73 / 83.9%);
  --primary-color: #226fd5;
  --secondary-color: #272727c6;
  --inverted-primary-color: rgb(28 239 28 / 54.2%);
  --inverted-secondary-color: rgb(197 234 13);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #443f3f40;
}
