.app.light {
  --bg-color: #fefefe;
  --inverted-bg-color: rgba(59, 59, 73, 0.839);
  --primary-color: #226fd5;
  --secondary-color: #272727c6;

  --inverted-primary-color: rgba(28, 239, 28, 0.542);
  --inverted-secondary-color: rgb(197, 234, 13);
}
